In [28]:
#Import libraries
import pandas as pd
import numpy as np
import plotly.graph_objects as go

#Read the cluster data
dfcc=pd.read_csv('resource/df_countyC.csv',index_col=[0])
Fields=[

'region',
'period_begin',
'period_end',
'period_duration',
'parent_metro_region',
'property_type',
'median_sale_price',
'median_sale_price_yoy',
'homes_sold',
'new_listings_yoy',
'median_dom',
'median_dom_yoy',
'avg_sale_to_list',
'cluster_nbr',
'0',
'1',
'2',
'3'
]
#Only select fields that are needed in this visualization
df_VA=dfzc[Fields]
len(df_VA)

205

In [31]:
import glob

files = glob.glob('resource/*.csv') 
df_list = []
df_all = pd.DataFrame([])
for f in files:
    df_list.append(f[3:-4])
    df = pd.read_csv(f,index_col=[0])
    df.insert(0,'group',f[12:-5])
    df_all = pd.concat([df_all, df])
df_all['group'].unique()

array(['county', 'neighborhood', 'zipcode'], dtype=object)

In [32]:
Fields=[
'group',
'region',
'period_begin',
'period_end',
'period_duration',
'parent_metro_region',
'property_type',
'median_sale_price',
'median_sale_price_yoy',
'homes_sold',
'new_listings_yoy',
'median_dom',
'median_dom_yoy',
'avg_sale_to_list',
'cluster_nbr',
'0',
'1',
'2',
'3'
]
df_all = df_all[Fields]
df_all[df_all['group']=='county'].head()

,group,region,period_begin,period_end,period_duration,parent_metro_region,property_type,median_sale_price,median_sale_price_yoy,homes_sold,new_listings_yoy,median_dom,median_dom_yoy,avg_sale_to_list,cluster_nbr,0,1,2,3
0,county,"Orange County, VA",2021-07-01,2021-07-31,30,Virginia nonmetropolitan area,Single Family Residential,356000.0,0.251318,91.0,0.261364,31.0,-20.0,1.013439,0,-0.378731,0.141943,-0.206074,0.016284
1,county,"Fairfax City County, VA",2021-07-01,2021-07-31,30,"Washington, DC",Single Family Residential,842500.0,0.221900,24.0,-0.156250,9.0,-17.0,1.022035,1,0.031674,-0.329282,-0.169076,0.122726
2,county,"Fairfax County, VA",2021-07-01,2021-07-31,30,"Washington, DC",Single Family Residential,800000.0,0.054018,1023.0,0.096774,11.0,-17.0,1.022211,1,0.227440,-0.100480,0.174530,-0.017129
3,county,"Newport News, VA",2021-07-01,2021-07-31,30,"Virginia Beach, VA",Single Family Residential,250000.0,0.041667,241.0,0.429293,19.0,-9.0,1.021099,3,0.144388,0.173871,0.183946,-0.135481
4,county,"Hanover County, VA",2021-07-01,2021-07-31,30,"Richmond, VA",Single Family Residential,417975.0,0.174087,198.0,-0.228700,10.0,-10.0,1.026062,1,0.030448,-0.357545,-0.012848,0.092765

In [63]:
df_all[df_all['group']=='zipcode'].head()

,group,region,period_begin,period_end,period_duration,parent_metro_region,property_type,median_sale_price,median_sale_price_yoy,homes_sold,new_listings_yoy,median_dom,median_dom_yoy,avg_sale_to_list,cluster_nbr,0,1,2,3
0,zipcode,Zip Code: 22645,2021-07-01,2021-09-30,90,"Winchester, VA",Single Family Residential,524061.5,0.508308,22.0,-0.285714,33.0,-12.0,1.005716,3,0.370539,-0.325850,0.444567,0.052462
1,zipcode,Zip Code: 22554,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,492800.0,0.109285,350.0,0.295880,16.0,-13.0,1.019942,2,-0.094133,0.174754,-0.021698,-0.052027
2,zipcode,Zip Code: 23457,2021-07-01,2021-09-30,90,"Virginia Beach, VA",Single Family Residential,545000.0,-0.006166,23.0,-0.105263,35.5,-30.0,0.993478,3,0.558280,-0.227233,-0.146485,-0.035570
3,zipcode,Zip Code: 20165,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,768750.0,0.151685,80.0,-0.048193,13.0,-8.0,1.019778,0,-0.173589,-0.124376,0.017748,0.033738
4,zipcode,Zip Code: 22025,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,551000.0,0.140787,73.0,0.037500,11.0,-18.0,1.018282,0,-0.199712,-0.048354,-0.024528,0.056996

In [46]:
#Rename fields to make them easier to understand
df = df_all.rename({'0': 'PC1','1':'PC2','2':'PC3','3':'PC4'}, axis=1)
#Change data type for cluster_nbr
df['cluster_nbr'] = df['cluster_nbr'].apply(str)
group_dict ={}

for region in df_all['group'].unique():
    dfr = df[df['group'] == region]
    
    #Create summary statistics for clusters. Calucating medians for the following metrics at cluster level
    cluster_group = ['homes_sold','median_sale_price','median_sale_price_yoy','new_listings_yoy','avg_sale_to_list','median_dom','median_dom_yoy']
    df1=dfr.groupby(['cluster_nbr'])['cluster_nbr'].count()
    df2=dfr.groupby(['cluster_nbr'])[cluster_group].median()
    df_summary=pd.concat([df1, df2],axis=1)
    df_summary = df_summary.rename({'cluster_nbr': '# of '+region+'s','homes_sold':'Median Homes Sold','median_sale_price':'Median Sale Price','median_sale_price_yoy':'Median Sale Price YoY','new_listings_yoy':'Median New Listings YoY','avg_sale_to_list':'Median Sale-to-List Ratio','median_dom':'Median Days on Market','median_dom_yoy':'Median Days on Market YoY (days)'}, axis=1)
    group_dict[region] = df_summary
# df_summary
group_dict['county']

,# of countys,Median Homes Sold,Median Sale Price,Median Sale Price YoY,Median New Listings YoY,Median Sale-to-List Ratio,Median Days on Market,Median Days on Market YoY (days)
cluster_nbr,,,,,,,,
0,8,60.0,342062.5,0.239092,0.251866,1.013647,34.0,-22.0
1,23,65.0,345000.0,0.151631,0.112500,1.022035,10.0,-16.0
2,1,57.0,300000.0,-0.117647,5.090909,1.010089,14.0,-76.0
3,15,122.0,380500.0,0.108326,0.129310,1.013349,22.0,-14.0

In [47]:
group_dict['zipcode']

,# of zipcodes,Median Homes Sold,Median Sale Price,Median Sale Price YoY,Median New Listings YoY,Median Sale-to-List Ratio,Median Days on Market,Median Days on Market YoY (days)
cluster_nbr,,,,,,,,
0,54,111.5,431250.0,0.140014,-0.024202,1.028527,9.00,-5.25
1,79,97.0,525000.0,0.079137,0.004630,1.014521,19.00,-6.50
2,44,88.0,310000.0,0.106040,0.423500,1.011687,18.00,-9.50
3,28,32.5,475000.0,0.144182,-0.108187,0.999658,33.75,-7.00

In [48]:
# #Rename fields to make them easier to understand
# df = df_all.rename({'0': 'PC1','1':'PC2','2':'PC3','3':'PC4'}, axis=1)
# df = 
# df['cluster_nbr'] = df['cluster_nbr'].apply(str) #Change data type for cluster_nbr

# #Create summary statistics for clusters. Calucating medians for the following metrics at cluster level
# cluster_group = ['homes_sold','median_sale_price','median_sale_price_yoy','new_listings_yoy','avg_sale_to_list','median_dom','median_dom_yoy']
# df1=df.groupby(['cluster_nbr'])['cluster_nbr'].count()
# df2=df.groupby(['cluster_nbr'])[cluster_group].median()
# df_summary=pd.concat([df1, df2],axis=1)
# df_summary = df_summary.rename({'cluster_nbr': '# of regions','homes_sold':'Median Homes Sold','median_sale_price':'Median Sale Price','median_sale_price_yoy':'Median Sale Price YoY','new_listings_yoy':'Median New Listings YoY','avg_sale_to_list':'Median Sale-to-List Ratio','median_dom':'Median Days on Market','median_dom_yoy':'Median Days on Market YoY (days)'}, axis=1)
# df_summary

# Pick group to chart

In [73]:
df = df_all[df_all['group'] == 'zipcode'].copy()
df = df.rename({'region': 'ZipCode'}, axis=1)
df = df.drop(columns=['group'])

df.head()

,ZipCode,period_begin,period_end,period_duration,parent_metro_region,property_type,median_sale_price,median_sale_price_yoy,homes_sold,new_listings_yoy,median_dom,median_dom_yoy,avg_sale_to_list,cluster_nbr,0,1,2,3
0,Zip Code: 22645,2021-07-01,2021-09-30,90,"Winchester, VA",Single Family Residential,524061.5,0.508308,22.0,-0.285714,33.0,-12.0,1.005716,3,0.370539,-0.325850,0.444567,0.052462
1,Zip Code: 22554,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,492800.0,0.109285,350.0,0.295880,16.0,-13.0,1.019942,2,-0.094133,0.174754,-0.021698,-0.052027
2,Zip Code: 23457,2021-07-01,2021-09-30,90,"Virginia Beach, VA",Single Family Residential,545000.0,-0.006166,23.0,-0.105263,35.5,-30.0,0.993478,3,0.558280,-0.227233,-0.146485,-0.035570
3,Zip Code: 20165,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,768750.0,0.151685,80.0,-0.048193,13.0,-8.0,1.019778,0,-0.173589,-0.124376,0.017748,0.033738
4,Zip Code: 22025,2021-07-01,2021-09-30,90,"Washington, DC",Single Family Residential,551000.0,0.140787,73.0,0.037500,11.0,-18.0,1.018282,0,-0.199712,-0.048354,-0.024528,0.056996

## format the chart - comments, colors, and size

In [74]:
#Add cluster description to the dataframe
def f(row):
    if row['cluster_nbr'] == '0':
        val = 'Comment 1'
    elif row['cluster_nbr'] == '1':
        val = 'Comment 2'
    elif row['cluster_nbr'] == '2':
        val = 'Commet 3'
    elif row['cluster_nbr'] == '3':
        val = 'Comment 4'   
    # elif row['cluster_nbr'] == '4':
    #     val = 'Coment 5'  
    else:
        val = 'NA'
    return val

df['cluster_desc']= df.apply(f, axis=1)

In [75]:
#Define a function to assign a unique color code to each cluster. 
#You can choose any color code you want by tweaking the val parameter
def color(row):
    if row['cluster_nbr'] == '0':
        val = '#0984BD'
    elif row['cluster_nbr'] == '1':
        val = '#E12906'
    elif row['cluster_nbr'] == '2':
        val = '#08E9E7'
    elif row['cluster_nbr'] == '3':
        val = '#E18A06'   
    # elif row['cluster_nbr'] == '4':
    #     val = '#0C861A'  
    else:
        val = 'NA'
    return val
#Apply the function to each data point in the data frame
df['color']= df.apply(color, axis=1)

In [76]:
#Create the 'size' column for bubble size
from sklearn.preprocessing import MinMaxScaler
minmax_scaler=MinMaxScaler()
scaled_features=minmax_scaler.fit_transform(df[['median_sale_price_yoy']])
df['size']=pd.DataFrame(scaled_features)

#Styling changes to reduce decimal places to 2
df['avg_sale_to_list'] = pd.Series([round(val, 2) for val in df['avg_sale_to_list']], index = df.index)
df['homes_sold'] = pd.Series([round(val, 0) for val in df['homes_sold']], index = df.index)
df['median_dom'] = pd.Series([round(val, 1) for val in df['median_dom']], index = df.index)


#Styling changes to change the data format to percentages
df['median_sale_price_yoy'] = pd.Series(["{0:.1f}%".format(val * 100) for val in df['median_sale_price_yoy']], index = df.index)
df['new_listings_yoy'] = pd.Series(["{0:.1f}%".format(val * 100) for val in df['new_listings_yoy']], index = df.index)

# Hover text

In [77]:
#Add 'text' column for hover-over tooltips
#You can customize what fields or information you want to show in tooltips in the code below
hover_text = []
for index, row in df.iterrows():
    hover_text.append(('Cluster Description:<br>{cluster_desc}<br><br>'+
                    'Zip Code: {ZipCode}<br>'+
                    'Metro: {parent_metro_region}<br>'+ 
                    'Homes Sold: {homes_sold}<br>'+
                    'Median Sales Price: ${median_sale_price}<br>'+
                    'Median Sales Price YoY: {median_sale_price_yoy}<br>'+
                    'New Listings YoY: {new_listings_yoy}<br>'+
                    'Median Days on Market: {median_dom}<br>'+
                    'Avg Sales-to-Listing Price: {avg_sale_to_list}'
                    ).format(
                    cluster_desc=row['cluster_desc'],
                    Zip_Code=row['ZipCode'],
                    parent_metro_region=row['parent_metro_region'],
                    homes_sold=row['homes_sold'],
                    median_sale_price=row['median_sale_price'],
                    median_sale_price_yoy=row['median_sale_price_yoy'],
                    new_listings_yoy=row['new_listings_yoy'],
                    median_dom=row['median_dom'],
                    avg_sale_to_list=row['avg_sale_to_list']))
df['text'] = hover_text

KeyError: 'ZipCode'

# layout

In [66]:
# Dictionary with dataframes for each cluster
cluster_name=df["cluster_nbr"].unique()
cluster_data = {cluster: df.loc[df["cluster_nbr"] == cluster].copy()
                            for cluster in cluster_name}

layout = go.Layout(
    title_text='VA Neighborhoods Housing Market Segments', 
    title_x=0.5,
    xaxis = go.XAxis(
        title = 'Shorter Days on Market <-------------> Longer Days on Market',
        showticklabels=False),
    yaxis = go.YAxis(
        title = 'Lower Supply <------------> Higher Supply',
        showticklabels=False
    )
)

# Create figure
fig = go.Figure(layout=layout)
for cluster_name, cluster in cluster_data.items():
    fig.add_trace(go.Scatter(
        x=cluster['PC1'], y=cluster['PC2'],
        marker = dict(color=cluster['color']),
        name=cluster_name, text=cluster['text'],
        marker_size=cluster['size']
        ))

# Tune marker appearance and layout
sizeref = 2.*max(df['size'])/(18**2) 
fig.update_traces(mode='markers', marker=dict(sizemode='area',sizeref=sizeref, line_width=2))

fig.update_layout(showlegend=False)
fig.show()

/home/awstclair/miniconda3/envs/realestate_env/lib/python3.10/site-packages/plotly/graph_objs/_deprecations.py:544: DeprecationWarning: plotly.graph_objs.XAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.XAxis
  - plotly.graph_objs.layout.scene.XAxis

  warnings.warn(
/home/awstclair/miniconda3/envs/realestate_env/lib/python3.10/site-packages/plotly/graph_objs/_deprecations.py:572: DeprecationWarning: plotly.graph_objs.YAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.YAxis
  - plotly.graph_objs.layout.scene.YAxis

  warnings.warn(

KeyError: 'PC1'